pipeline/pl_consumer_Cards.json
{
	"name": "pl_consumer_Cards",
	"properties": {
		"activities": [
			{
				"name": "Insert Batch Status",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_update_batchexeclog",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "IR Consumer Cards",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Insert Batch Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_ir_consumer_cards",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Return Exit Value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IR Consumer Cards",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_exit_value",
					"value": {
						"value": "@activity('IR Consumer Cards').output.result.error.Output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Error Log",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Return Exit Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_update_error_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Return Exit Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_send_email_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Return Batch Run ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IR Consumer Cards",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_batch_runId",
					"value": {
						"value": "@activity('IR Consumer Cards').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return Flag IU",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IR Consumer Cards",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"v_exit_value": {
				"type": "String"
			},
			"v_batch_runId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cecl/instrument_reference/consumer_cards"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-28T08:22:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}