pipeline/pl_test.json
{
	"name": "pl_test",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "nb_test",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_exit_val",
					"value": {
						"value": "@activity('Notebook1').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"value": {
								"type": "Expression",
								"content": "@activity('Notebook1').output"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"v_exit_val": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cecl/test"
		},
		"annotations": []
	}
}